.container{
    width: 70%;
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
.row{
    float: left;
    width: 100%;
}
.header {
    border: 1px solid black;
    padding: 10px;
    background-color: orange;
    font-size: 25px;
    font-weight: bold;
    padding-left: 40px;
    border-radius: 4px;


}
/* .header img{
    width: 40px;
    height: 40px;
    float: right;
    
} */
.menu{
    background-color:white;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 5px;
}
.menu ul{
    padding: 10px;
}
.menu ul li{
    list-style: none;
    display: inline;
    padding: 0 15px;
}
.menu ul li a{
    text-decoration: none;


}
.border_img img{
    width: 100px;
    height: 120px;
    margin-top: 20px;
    
}
.border_img{
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 30px;
    text-align: center;
    
    
}
.mr{
    margin-right: 1%;
}
.mt{
    margin-top: 10px;
}
.mb{
    margin-bottom: 20px;
}
.left{
    float: left;
    width: 78%;
}
.right{
    float: right;
    width: 22%;
}
.boxtitle{
    background-color: #eee;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    color: #333;
    padding: 10px;
}
.boxcontent{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}
.boxcontent2{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    min-height: 200px;
    background-color: #ccc;
}
.boxforder{
    background-color: #eee;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
   border: 1px #ccc solid;
    
    padding: 10px;
}
.banner{
    min-height: 300px;
    width: 100%;
    text-align: center;
}
.banner img{
    height: 300px;
  
}
.boxsanpham{
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 30px;
    text-align: center;
}
.boxsanpham img{
    margin-top: 20px;
    width: 100px;
    height: 120px;
}
.menu ul{
    padding: 15px;

}
.menu ul li{
    list-style: none;
    display: inline;
    padding: 0px 15px;
}
.menu ul li a{
    color: #333;
    text-decoration: none;
}
.menu ul li a:hover{
    color: aqua;
    font-size: 1.2vw;
}
.formtk{
    line-height: 150%;
}
.mb1{
    margin-bottom: 10px;
}
.formtk input[type="text"],
.formtk input[type="password"],
.formtk input[type="email"],
.formcontent input[type="text"]
{
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;

}
.formtk input[type="checkbox"]{
    border: 1px #ccc solid;
    border-radius: 5px;

}
.formtk input[type="checkbox"]{
    border: 1px #ccc solid;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
}
.formtk input[type="checkbox"]:hover{
    background-color: aquamarine;
}
.formtk li a{
    text-decoration: none;
    color: aquamarine;
}
.formtk li a :hover{
    text-decoration: none;
    color: bisque;
}
.menudoc ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
.menudoc ul li{
    
    padding: 10px 20px;
    background-color: #eee;
    border:1px solid #ccc;
}
.menudoc ul li a{
    text-decoration: none;
    color: #666;
}
.menudoc ul :hover{
    background-color: #ccc;
}
.tkbox input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    background-color: white;
    border: 1px #eee solid;
    border-radius: 5px;
}
.top10 img{
    width: 15%;
    height: 40px;
    float: left;
    margin-right: 10px;
}
.top10 a{
    text-decoration: none;
    color: #ccc;

}
.top10 a:hover{
    color: #333;
    text-decoration: underline;
}
.footer{
    background-color: orange;
    text-align: center;
    border-radius: 2px;

}
.formtitle{
    background-color: #eee;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.mb2{
    margin-bottom: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 16px;
}
table td{
    padding: 20px;
    background-color: #ccc;
    padding: 10px;
    border: 1px solid #999;
}
table, th, td{
    border:1px solid #868585;
}
table{
    border-collapse:collapse;
}
table tr:nth-child(odd){
    background-color:#eee;
}
table tr:nth-child(even){
    background-color:white;
}
table tr:nth-child(1){
    background-color:skyblue;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

